<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inquiry Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h3 id="msg"></h3>
    <div class="container">
        <h3 id="msg"></h3>
        <h2 class="iq"> Get Free Consultation</h2>
        <p class="iq1">Leave Your Details Below</p>
        <form method="POST" action="https://formspree.io/f/xrgnpdvd">

            <input type="text" id="username" placeholder="Full Name" autocomplete="off"><br>
            <input type="email" id="email" placeholder="Email" autocomplete="off"><br>
            <input type="number" id="number" placeholder="Mobile Number With Country Code"><br>
            <input type="text" id="description" placeholder="Your Project Description"><br>
        </form>
        <p class="iq2">Your idea is protected with us!</p>
        <button type="submit" id="btn_reg"> Submit</button>
    </div>

    <address class="last3"><a href="./">&leftarrow;</a></address>

    <script src="app.js"></script>
</body>
</html>