<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="one">
        <h1 class="two">Training</h1>
        <p class="three">MigGie Solutions Inc. has been a leading IT firm for more than a decade with state-of-the-art technologies that can cater to a client's specific business needs. Give us a call and discuss your idea with us and we will create an innovative solution with our seamless services that have aided several small/large scale businesses. We are not just any other IT company, we are a think-tank. Join us and bring your business ideas to life!</p>
    </div>

    <marquee direction="left"><div class="row1">
        <div class="card1"></div>
        <div class="card2"></div>
        <div class="card3"></div>
        </div></marquee>

    <marquee direction="right"><div class="row2">
        <div class="card1"></div>
        <div class="card2"></div>
        <div class="card3"></div>
        </div></marquee>

        <address class="last"><a href="./">&leftarrow;</a></address>
        <address class="last1"><a href="./inquiry">&rightarrow;</a></address>
</body>
</html>